/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  
  /*----------  Navbar  ----------*/

  header {
      height: 48px;
      width: 100%;
      display: flex;
      min-width: 300px;
      background-color: #fff;
      box-shadow: 0 0 32px rgba(0,0,0,.15);
  }

  .icon-sm {
      width: 106px;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      background: linear-gradient(to bottom right,#c09,#f42 85%);
  }

  /* Todo - Fix hover gif later
  .icon-sm:hover {
      background: url(https://media.giphy.com/media/3oKHWvUUMPQhCOCT72/giphy.gif);
  } */
  
  .icon-sm-svg {
      width: 66px;
      height: 16px;
  }


  .navbar-right-items-sm {
      margin-left: auto;
      display: flex;
  }

  .search-sm {
    width: 48px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-left: 1px solid #eee;
    color: #bdb9b9;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /* Todo - Fix hover color change
  .search-sm:hover {
      color: #525252;
  } */
  
  .menu-sm {
    width: 48px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-left: 1px solid #eee;
    color: #f42;
  }

.article-wrapper {
  display: grid;
  grid-template-areas: 
  "article1"
  "article2"
  "article3"
}

.featured-article {
  display: flex;
  height: 235px;
  color: #FFF;
  padding: 14px 12px;
  margin: 8px 8px 4px 8px;
}

.items-wrapper {
  margin-top: auto;
}

.article-category {
  padding-bottom: 4px;
}

.article-title {
  font-size: 22px;
  padding-bottom: 4px;
}

.article-list li {
  display: inline-block;
  padding-right: 4px;
  color:hsla(0,0%,100%,.6);
}

.article-list i {
  padding-right: 4px;
  padding-left: 8px;
}

.art-1 {
  grid-area: article1;
  background: url(/images/santa_crypto_giftguide_cryptocurrency_bitocin_blockchain_hard_fork_winter_presents_holiday_796x448.jpg) no-repeat ;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 60%); */
  /* background: black; */
}
.art-2 {
  grid-area: article2;
  background: url(/images/cryptocurrency_ethereum_gastoken_exchange_bug_hackers_796x450.jpg) no-repeat;
  background-size: cover;
}
.art-3 {
grid-area: article3;
background: url(/images/header_image_all_i_want_for_xmas_796x417.png) no-repeat;
background-size: cover;
}
  
