/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  
  /*----------  Navbar  ----------*/

  header {
      height: 48px;
      width: 100%;
      display: flex;
      min-width: 300px;
      background-color: #fff;
      box-shadow: 0 0 32px rgba(0,0,0,.15);
  }

  .icon-sm {
      width: 106px;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      background: linear-gradient(to bottom right,#c09,#f42 85%);
  }

  /* Todo - Fix hover gif later
  .icon-sm:hover {
      background: url(https://media.giphy.com/media/3oKHWvUUMPQhCOCT72/giphy.gif);
  } */
  
  .icon-sm-svg {
      width: 66px;
      height: 16px;
  }


  .navbar-right-items-sm {
      margin-left: auto;
      display: flex;
  }

  .search-sm {
    width: 48px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-left: 1px solid #eee;
    color: #bdb9b9;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .search-sm:hover {
     color: #525252;
  }
  
  .menu-sm {
    width: 48px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-left: 1px solid #eee;
    color: #f42;
  }

.article-wrapper {
  display: grid;
  grid-template-areas: 
  "article1"
  "article2"
  "article3"
}

.featured-article {
  height: 235px;
  color: #FFF;
  margin: 8px 8px 4px 8px;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,1) 85%);
  display: grid;
  align-items: end;
}


.items-wrapper {
  width: 100%;
  padding: 14px 12px;
}

.article-category {
  padding-bottom: 4px;
}

.article-title {
  font-size: 22px;
  padding-bottom: 4px;
  font-weight: 600;
}

.article-list li {
  display: inline-block;
  padding-right: 4px;
  color:hsla(0,0%,100%,.6);
}

.article-list i {
  padding-right: 4px;
  padding-left: 8px;
}

.art-1 {
  grid-area: article1;
  background: url(/images/santa_crypto_giftguide_cryptocurrency_bitocin_blockchain_hard_fork_winter_presents_holiday_796x448.jpg) no-repeat ;
  background-size: cover;
}
.art-2 {
  grid-area: article2;
  background: url(/images/cryptocurrency_ethereum_gastoken_exchange_bug_hackers_796x450.jpg) no-repeat;
  background-size: cover;
}
.art-3 {
  grid-area: article3;
  background: url(/images/header_image_all_i_want_for_xmas_796x417.png) no-repeat;
  background-size: cover;
}
  
/*----------  Latest News  ----------*/

.latest-news {
  padding: 48px 8px 0 8px;
}

.latest-news-header a{
  color:#f42;
  font-weight: 700;
  line-height: 1.1;
  font-size: 28px;
  letter-spacing: -.015em;
  padding-left: 8px;
}

.four-col-muchachos {
  padding: 16px 0;
  display: grid;
  grid-template-areas: 
  "muchachito1"
  "muchachito2"
  "muchachito3"
  "muchachito4"
  "muchachito5"
  "muchachito6"
  "muchachito7"
  "muchachito8";
}

.muchachito {
  height: 88px;
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.latest-news-image {
  width: 75px;
  height: 75px;
}

.latest-news-text {
  padding: 8px;
  display: grid;
  grid-template-rows: 1fr auto;
}
.latest-news-text h4 {
  font-size: 16px;
}

.latest-details p {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #aaa;
  padding-right: 10px;

}

.ln-1 {
  grid-area: muchachito1;
}

.ln-2 {
  grid-area: muchachito2;
}

.ln-3 {
  grid-area: muchachito3;
}

.ln-4 {
  grid-area: muchachito4;
}

.ln-5 {
  grid-area: muchachito5;
}

.ln-6 {
  grid-area: muchachito6;
}

.ln-7 {
  grid-area: muchachito7;
}

.ln-8 {
  grid-area: muchachito8;
}

.ln-1 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/adobe-405x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-2 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/zTRSRad-540x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-3 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-512x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-4 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/LIBRA-STRATEGY-516x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-5 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Facebook-Portal-hed-513x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-6 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/1-16-516x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-7 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/teslataxi-516x270.jpg) no-repeat center;
  background-size: cover;
}

.ln-8 .latest-news-image {
  width: 75px;
  height: 75px;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Battery-hed-513x270.jpg) no-repeat center;
  background-size: cover;
}